@import url('base.css');
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/navbar.css');
@import url('pages/home.css');
@import url('pages/register.css');
@import url('animations.css');
@import url('adaptability.css');
@import url('pages/profile.css');
