@import url('base.css');
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/navbar.css');
@import url('pages/home.css');
@import url('pages/auth.css');
@import url('animations.css');
@import url('pages/profile.css');
@import url('pages/create-game.css');
@import url('containers.css');
@import url('pages/games.css');
@import url('pages/view-game.css');